

<div class="container">
  <h4>Teams Leaderboard</h4>
  <table>
    <thead>
      <tr>
          <th>Team Name</th>
          <th>Members</th>
          <th>Wins</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let team of teams">
        <td>
          <a routerLink="/teams/{{team.id}}">{{team.name}}</a>
        </td>
        <td>
          <img *ngFor="let member of team.members" [src]="member.photoUrl" class="circle responsive-img" style="height: 24px; margin-right: 10px;">
        </td>
        <td>{{team.winCount}}</td>
      </tr>
    </tbody>
  </table>
</div>



<div class="container">
    <h4>TOTO Leaderboard</h4>
    <table>
      <thead>
        <tr>
            <th>Name</th>
            <th>Wins</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <img [src]="user.photoUrl" class="circle responsive-img" style="height: 24px; margin-right: 10px; vertical-align: middle;">
            {{user.displayName}} 
          </td>
          <td>{{user.winCount}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="center qr-code">
      Play now! <br/>
      <img style="height: 70px;" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://biliccer-2018.firebaseapp.com/" alt=""> <br/>      
  </div>
  