<nav class="nav-extended teal lighten-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Billiccer Friendly</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab" routerLinkActive="active"><a routerLink="/teams">Teams</a></li>
      <li class="tab" routerLinkActive="active"><a routerLink="/matches">Matches / Bets</a></li>
      <!-- <li class="tab" routerLinkActive="active"><a routerLink="/bets">Bets</a></li> -->
      <li class="tab" routerLinkActive="active"><a routerLink="/leaderboard">Leaderboard</a></li>
      <li class="tab" routerLinkActive="active"><a routerLink="/profile">Me</a></li>
    </ul>
  </div>
</nav>


