
<div class="container" style="margin-top: 40px;">

  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
          <div class="row">
            <div class="col s3 center">1</div>
            <div class="col s6 center">
              <span style="font-size: 200%;">Team A</span>
              vs
              <span style="font-size: 200%;">Team B</span>
            </div>
            <div class="col s3 center">3</div>
          </div>
      </div>
      <div class="card-action">
        <a href="#">Make a bet</a>
      </div>
    </div>
  </div>


  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
          <div class="row">
            <div class="col s3 center">1</div>
            <div class="col s6 center">
              <span style="font-size: 200%;">Team A</span>
              vs
              <span style="font-size: 200%;">Team B</span>
            </div>
            <div class="col s3 center">3</div>
          </div>
      </div>
      <div class="card-action">
        <a href="#">Make a bet</a>
      </div>
    </div>
  </div>


</div>

