<div class="container center" style="margin-top: 100px;">

  <div *ngIf="firebaseService.user !== undefined" style="margin: 30px;">
    {{ firebaseService.user.displayName }} / {{ firebaseService.user.email }}
  </div>

  <a class="waves-effect waves-light btn large blue darken-2" (click)="signin();" *ngIf="firebaseService.user === undefined">Sign in with Google Account</a>
  <div *ngIf="firebaseService.user !== undefined">
    <img [src]="firebaseService.user.photoUrl" class="circle responsive-img profile-photo"> <br/>
    <a class="waves-effect waves-light btn large blue darken-2" (click)="signout();" >Sign Out</a>
  </div>
  
</div>